doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title || 'Power of Attorney Generator'
    link(rel="stylesheet", href="/css/style.css")
  body
    nav
      .nav-container
        img(src="/images/Screenshot_1.png", alt="Logo", )
      

    main
      block content
    
